<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>Flash Me</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/flat-ui.min.css" rel="stylesheet">
	<link href="/css/style.css" rel="stylesheet">
	<link href="/css/cards.css" rel="stylesheet">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
	<script>
		$(document).ready(function () {
			$('.flashcard').on('click', function () {
				var e = $(this);
				e.toggleClass('flipped');
			});
		});
	</script>
</head>

<body>
	<div class="row demo-row">
		<div class="col-xs-12">
			<nav class="navbar navbar-inverse navbar-embossed" role="navigation">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-01">
						<span class="sr-only">Toggle navigation</span>
					</button>
					<a class="navbar-brand" href="/">Flash Me</a>
				</div>
				<div class="collapse navbar-collapse" id="navbar-collapse-01">
					<ul class="nav navbar-nav navbar-right">
						<li><a href="/about">About Us</a></li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<%= username %><b class="caret"></b></a>
							<span class="dropdown-arrow"></span>
							<ul class="dropdown-menu">
								<li><a href="/profile/<%= uid %>">Profile</a></li>
								<li class="divider"></li>
								<li>
									<a href="/main/performance">Performance</a>
								</li>
								<li class="divider"></li>
								<li><a href="#">Sign Out</a></li>
							</ul>
						</li>
					</ul>
				</div>
			</nav>
		</div>
	</div>

	<div class="container">
		<h1 class="text-center">Flash Me</h1>
	</div>

	<div class="stage">
		<% questions.forEach(function(qa){  %>
			<div style="padding-bottom: 20.0em;" class="row text-center question">
				<span style="margin-top: 2.0em; font-size: 5.0em; color: red;" class="col-xs-2 fui-cross-circle wrong"></span>
				<div class="col-xs-8">
					<div class="flashcard">
						<div class="front">
							<p style="font-size: 1em;">
								<%= qa.question %>
							</p>
						</div>
						<div class="back">
							<p style="font-size: 1em;">
								<%= qa.answer %>
							</p>
						</div>
					</div>
				</div>
				<span style="margin-top: 2.0em; font-size: 5.0em; color: green;" class="col-xs-2 fui-check-circle right"></span>
			</div>
			<% }); %>
	</div>
	<div class="score text-center" style="display:hidden">
		
	</div>
	<div class="container">
		<hr>
		<blockquote>SpartaHack 2016 | All Rights Reserved.</blockquote>
	</div>

	<script src="/js/vendor/jquery.min.js"></script>
	<script src="/js/vendor/video.js"></script>
	<script src="/js/flat-ui.min.js"></script>
	 <script src="https://cdn.firebase.com/js/client/2.2.3/firebase.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			jQuery.fn.pop = [].pop;
			jQuery.fn.shift = [].shift;
			var db = new Firebase("https://spartahack2016.firebaseio.com");
			var users = db.child('users');
			var id 
			var complete = 0;
			var attempted = 0;
			var elements = $('.question');
			$('.right').click(function(){
				complete++;
				attempted++;
				var elem = elements.shift();
				if(!elements[0]) {
					$(elem).hide(100,function(){
						$('.score').append("<h3> Your score: "+complete+"/"+attempted+" </h3>");
						$('.score').show();
					});
					users.child("<%=uid%>").child('performance').child("<%=class_name%>").push().set({
						score: (complete/attempted)*100
					});
				}	
				$(elem).hide();	
			});
			$('.wrong').click(function(){
				attempted++;
				var elem = elements.shift();
				if(!elements[0]) {
					$(elem).hide(100, function(){
						$('.score').append("<h3> Your score: "+complete+"/"+attempted+" </h3>");
						$('.score').show();
						users.child("<%=uid%>").child('performance').child("<%=class_name%>").push().set({
							score: (complete/attempted)*100
						});
					});
				}
				$(elem).hide();
			});
		});
	</script>
</body>

</html>